{% include 'base.html' %}



{% block content %}
<h1 class="text-gray-500 font-bold text-[20px]">Add ToDo</h1>
<!-- Task Form -->
<form class="w-10/12 md:w-3/6 shadow-md bg-white rounded-2xl p-4" method="POST" action="{% url 'add_task' %}">
  {% csrf_token %}
  {% comment %} {{ form.as_p }} {% endcomment %}
  <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="task-name">Task Name</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="task-name" name="task_name" type="text" placeholder="Enter task name" required>
  </div>
  <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="task-description">Task Description</label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="task-description" name="task_description" placeholder="Enter task description"></textarea>
  </div>
  <div class="mb-4 flex">
      <div class="mr-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="due-date">Due Date</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="due-date" name="due_date" type="date" required>
      </div>
      <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="due-time">Due Time</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="due-time" name="due_time" type="time" required>
      </div>
  </div>
  <div class="flex items-center justify-center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Create Task</button>
  </div>
</form>


{% endblock content %}
  
    